=fields_for "rsvp[guests_attributes][]", guest do |form|
  =form.hidden_field :id
  %h4 
    =guest.name
  Wedding Ceremony and Reception 
  =form.select(:wedding_response, [["Will Attend", "true"], ["Will Not Attend", "false"]], {}, {:class=>"selectpicker"})
  -if rsvp.welcomedinner
    Welcome Dinner Friday Night at 6pm 
    =form.select(:welcome_dinner_response, [["Will Attend", "true"], ["Will Not Attend", "false"]], {}, {:class=>"selectpicker"})
  -if rsvp.sundaybrunch
    =form.select(:sunday_brunch_response, [["Will Attend", "true"], ["Will Not Attend", "false"]], {}, {:class=>"selectpicker"})
    Sunday Morning Brunch at 10am
  =form.text_field(:email, {:required=>true, :placeholder=>"Email for Confirmation"})
