%h4 
  = @guest
.nav-collapse
  %ul.nav
    %li.dropdown
      %a.dropdown-toggle{:href => "#", "role"=>"button", "data-toggle" => "dropdown", "data-target"=>"#"}
        Wedding Ceremony and Reception 
        %b.caret
      %ul.dropdown-menu{"role"=>"menu"}
        %li
          %a{:href=>"#willattend"}
            Will Attend
          %a{:href=>"#willnotattend"}
            Will Not Attend
=if @rsvp.welcomedinner
  .nav-collapse
    %ul.nav
      %li.dropdown
        %a.dropdown-toggle{:href => "#", "role"=>"button", "data-toggle" => "dropdown", "data-target"=>"#"}
          Welcome Dinner Friday Night at 6pm 
          %b.caret
        %ul.dropdown-menu{"role"=>"menu"}
          %li
            %a{:href=>"#willattend"}
              Will Attend
            %a{:href=>"#willnotattend"}
              Will Not Attend
