%h4 
  = guest
Wedding Ceremony and Reception 
%select.selectpicker
  %option Will Attend
  %option Will Not Attend
-if rsvp.welcomedinner
  Welcome Dinner Friday Night at 6pm 
  %select.selectpicker
    %option Will Attend
    %option Will Not Attend
-if rsvp.sundaybrunch
  Sunday Morning Brunch at 10am
  %select.selectpicker
    %option Will Attend
    %option Will Not Attend
%input{:type => "text", :name=>"email", :required=>true, :placeholder=>"Email For Confirmation"}
