<div class="main">
  <h2>Important Details for Travel & Good Times</h2>
  <br>
  <br>
<h3 style="margin-left:100px;margin-right:100px"><span>Location and Getting There</span></h3>
<div class="info">
<!--<p>We are getting married at the lovely Minnetonka Yacht Club. We are super excited because not only is it pretty, but it is an island on Lake Minnetonka (one of the largest lakes in the Twin Cities metro area). This does complicate transportation matters a little bit, but don't fear we have it all figured out.</p><br><p>There is no parking near the docks where the boats will pick you up to go to the island. The island is approx. 500 yards from shore and we have pontoon boats to run continous shuttles there and back.</p>-->
</div>
<h3 style="margin-left:100px;margin-right:100px"><span>Hotel</span></h3>
<div class="info">
<!--<p> Unfortunately, there is not a perfect hotel for the location of our wedding. So we have a hotel block at The Marriot SOMETHING SOMETHING. INFO ABOUT THAT. There will be shuttles provided from this location to the ceremony and reception and back. If you want to stay somewhere a little more exciting than a somewhat random suburb of Minneapolis there are some options in downtown and one right near us in our awesome neighborhood! However, you will be responsible for getting yourself to the Marriot SOMETHING SOEMTHING as that is where the shuttles are going from and there is no parking near where the boats take off from.</p>-->
</div>
</div>
