<div class="row-fluid">
  <div class="offset6 span8">
  <img class="title img-responsive" src="/images/engagement_title.png" />
  <br>
</div>
</div>
<!-- Place somewhere in the <body> of your page -->
  <div class="container">
  <div class="row-fluid">
      <div class="flexslider offset3 span8">
        <ul class="slides">
          <li>
          <img src="/images/JDP-2014-KyleProposal-001.png" />
          </li>
          <li>  
          <img src="/images/JDP-2014-KyleProposal-002.jpg" />
          </li>
          <li>
          <img src="/images/JDP-2014-KyleProposal-003.jpg" />
          </li>
          <li>
          <img src="/images/JDP-2014-KyleProposal-004.jpg" />
          </li>
          <li>
          <img src="/images/JDP-2014-KyleProposal-005.jpg" />
          </li>
          <li>
          <img src="/images/JDP-2014-KyleProposal-006.jpg" />
          </li>
          <li>
          <img src="/images/JDP-2014-KyleProposal-007.jpg" />
          </li>
          <li>
          <img src="/images/JDP-2014-KyleProposal-008.jpg" />
          </li>
          <li>
          <img src="/images/JDP-2014-KyleProposal-009.jpg" />
          </li>
        </ul>
      </div>
  </div>
</div>
<script>gallery();</script>
