<div class="main">
  <img src="/images/front_title.jpg" />
  <br>
  <br>
<div class="image">
  <img id="index_background" src="/images/IMG_0455.jpg" />
	  <h2 id="image_content"><span>Here is what we know so far:<br>
	  August 15th, 2015 (be there or be square).<br>
	  The wedding will be at the Minnetonka Yacht Club<br> in Deephaven, MN.<br>
	  Watch this space for more fun features <br>like online RSVPs and even an actual time!</span></h2>
</div>
</div>
