<h3>There are probably a lot of questions you have so here are some answers!</h3>

<h4>Where should we stay?</h4>

<p>Unfortunately, there isn’t a perfect answer as there are no hotels in a fun area near the island.<br> Therefore you have two options.<br> No. 1 - There is a Marriott in St. Louis Park that is about 15 minutes from the island. From this location the shuttles will leave to the island. However, if you have never been to Minnesota and want to do more than just go to our wedding, this is probably not the best spot. It is out in the suburbs and not really close to anything.</p>
<br>
<p>If you want to see our awesome neighborhood (rated one of the 12 coolest neighborhoods in the USA) then there is a better option.<br>No. 2 -  The Marriott Towne Place Suites is approximately two blocks from our apartment building, incredibly close to many awesome restaurants and bars, and two blocks from the Mississippi river! Now the downside to this hotel is that you will have to get yourself to the other hotel for the shuttle as there is absolutely no parking (and we mean none at all! The shuttle is the only way to get to the boat to the island).</p>

<br><p>We have hotel rooms blocked at both places with special rates.</p>
<br>
<p> No. 1 Marriott Minneapolis West
<br>Contact a friendly Marriott Reservation Agent
<br>Direct Hotel Line: 952-544-4400
<br>Toll Free: 1-866-268-1280
<br>Mention the “Jones/Burkhardt Wedding” and the dates of your stay
<br>Last Day to Book is 7/24/2015
<br>Parking included
<br>Breakfast not included
</p><br><p>
No 2 Marriott Towne Place Suites
<br>Jones Burkhardt Wedding
<br>Last day to book: 7-15-2015
<a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Jones%20Burkhardt%20Wedding%5Emspts%60jbwjbwa%7Cjbwjbwb%60139.00-189.00%60USD%60false%608/13/15%608/17/15%607/15/15&app=resvlink&stop_mobi=yes">Booking Link</a>
<br>Parking is available for a fee
<br>Hot breakfast included
<br>All rooms have kitchenette's
<br>Standard room sleeps 4
<br>Two bedroom can sleep 6
</p>
<h4>
How do we get to this super awesome island you are so excited to get married at?
</h4><br><p>
A boat! Well more specifically a bus and then a boat. Shuttles will be leaving from the Marriott Minneapolis West. Once exact times are determined for the shuttles they will be posted here and e-mailed to you. The shuttles will coordinate with pontoon boats to get you from the dock to the island. There will also be pontoons and shuttles back after the ceremony and dinner. Those times will also be posted and e-mailed to everyone.</p>
