<div class="container">
  <div>
  <div class="col-sm-12">
    <img class="title img-responsive" src="/images/party_title.png" />
  <div class="col-sm-6 col-xs-6 groomsmen">
    <img class="title img-responsive" src="/images/groomsmen_title.png" />
    
    <ul class="img-list">
      <li>
        <a href="http://kyleandmorgan2015.com/home/party">
          <img src="/images/Tyler.jpg" class="photo img-responsive" alt="Photo of Tyler" />
          <span class="text-content"><span><h2 class="fn">Tyler</h2><p class="fn">Kyle's younger (but much larger) brother and his best man. Tyler is constantly beating him in the yearly Family Easter Egg Hunt and any video game that they play together. He currently works for Ernst and Young and lives in St. Louis Park, MN.</p>
          </span></span>
        </a>
      </li>

      <li>
        <a href="http://kyleandmorgan2015.com/home/party">
          <img src="/images/Collin.jpg" class="photo img-responsive" alt="Photo of Collin" />
          <span class="text-content"><span><h2 class="fn">Collin</h2><p class="fn">Collin and Kyle met in choir in 9th grade. They play lots of golf, often poorly, and have Vikings season tickets together. He works for the Minnetonka School District and as a Fire Fighter in Eden Prairie. He lives in Chaska, MN with his wife, Amy.</p>
          </span></span>
        </a>
      </li>

      <li>
        <a href="http://kyleandmorgan2015.com/home/party">
          <img src="/images/Troy.jpg" class="photo img-responsive" alt="Photo of Troy" />
          <span class="text-content"><span><h2 class="fn">Troy</h2><p class="fn">Kyle and Troy played soccer and sang in the choir together in college. They won an IM Basketball title together and are known to have an unexplainable fondness for the Jesse McCartney song "Body Language". Troy is partway through a PhD program in Archaeology at the University of Michigan.</p>
          </span></span>
        </a>
      </li>
        
    <li>
      <a href="http://kyleandmorgan2015.com/home/party">
        <img src="/images/Adam.jpg" class="photo img-responsive" alt="Photo of Adam" />
        <span class="text-content"><span><h2 class="fn">Adam</h2><p class="fn">Kyle met Adam in math class in 5th grade. Adam, Kyle, and Bill founded Singing Valentines at Eden Prairie High School and attend many Timberwolves games together. Adam is a Committee Administrator for the Minnesota House of Representatives and still lives in Eden Prairie, MN.</p>
        </span></span>
       </a>
     </li>
        
    <li>
      <a href="http://kyleandmorgan2015.com/home/party">
        <img src="/images/Bill.jpg" class="photo img-responsive" alt="Photo of Bill" />
        <span class="text-content"><span><h2 class="fn">Bill</h2><p class="fn">Bill and Kyle grew up playing soccer together as well as having many of the same classes in middle and high school. Bill, Adam, and Kyle founded Singing Valentines at Eden Prairie High School and still play in amateur soccer leagues together. Bill lives in Eagan, MN with his fiancée, Caitlin.</p>
        </span></span>
       </a>
     </li>
        
      
    <li>
      <a href="http://kyleandmorgan2015.com/home/party">
        <img src="/images/Chris.jpg" class="photo img-responsive" alt="Photo of Chris" />
        <span class="text-content"><span><h2 class="fn">Chris</h2><p class="fn">Chris and Kyle met at a soccer tournament they were both refereeing in Illinois in 2004. They continue to referee amateur, college, and professional soccer games together. Chris works for Habitat for Humanity and lives in Des Moines, IA.</p>
        </span></span>
       </a>
     </li>
  </ul>
</div>

  <div class="col-sm-6 col-xs-6 bridesmaids">
        <img class="title img-responsive"  id="bridesmaids_title"  src="/images/bridesmaids_title.png" />
  <ul class="img-list">
    <li>
      <a href="http://kyleandmorgan2015.com/home/party">
        <img src="/images/Erin.jpg" class="photo img-responsive" alt="Photo of Erin" />
        <span class="text-content"><span><h2 class="fn">Erin</h2><p class="fn">Morgan's first friend from a healthy baby class at Stanford, they spent 7 years together in blue skirts at Castilleja. Then Erin ran off to China to work as a sustainability engineer and explore the world.</p>
        </span></span>
      </a>
    </li>

    <li>
      <a href="http://kyleandmorgan2015.com/home/party">
        <img src="/images/Charlotte.jpg" class="photo img-responsive" alt="Photo of Charlotte" />
        <span class="text-content"><span><h2 class="fn">Charlotte</h2><p class="fn">Charlotte is the younger and much more fashionable sibiling in the Jones clan. Teachers at Castilleja often only realized they were siblings when their parents showed up at Parent Teacher night. Charlotte is currently studying American Culture Studies at Washington University in St. Louis.</p>
        </span></span>
      </a>
    </li>
        
  
    <li>
      <a href="http://kyleandmorgan2015.com/home/party">
        <img src="/images/Elissa.jpg" class="photo img-responsive" alt="Photo of Elissa" />
        <span class="text-content"><span><h2 class="fn">Elissa</h2><p class="fn">As Morgan's roommate senior year Elissa and Morgan spent many hours “studying” together. She is now living in Detroit, working for Teach for America, and getting into all the law schools.</p>
        </span></span>
      </a>
    </li>
        
        
    <li>
      <a href="http://kyleandmorgan2015.com/home/party">
        <img src="/images/Jessa.jpg" class="photo img-responsive" alt="Photo of Jessa" />
        <span class="text-content"><span><h2 class="fn">Jessa</h2><p>An amazing volleyball player and an even better giver of life advice, Jessa and Morgan spent an eventful 4 years at Carleton together. She is now getting her Masters in Organizational Psychology at University of Minnesota Duluth.</p>
        </span></span>
      </a>
    </li>

        
        

    <li>
      <a href="http://kyleandmorgan2015.com/home/party">
        <img src="/images/Emily.jpg" class="photo img-responsive" alt="Photo of Emily" />
        <span class="text-content"><span><h2 class="fn">Emily</h2><p class="fn">Emily and Morgan met as fresh faced college graduates ready to take on the corporate world at Target Headquarters. Over many caffinated beverages they bonded and continue to eat amazing food together.</p>
        </span></span>
      </a>
    </li>
        
        
    <li>
      <a href="http://kyleandmorgan2015.com/home/party">
        <img src="/images/Kat.jpg" class="photo img-responsive" alt="Photo of Kat" />
        <span class="text-content"><span><h2 class="fn">Kat</h2><p class="fn">After many late night pizzas together Kat traded in the frozen tundra of Minnesota for the much warmer and far more glamerous plains in Spain for a year. Now Morgan stews jealously while hearing about her even more awesome life in Paris.</p>
        </span></span>
      </a>
    </li>
  
  </ul>
  </div>
        
    <img class="title img_responsive" id="ushers" src="/images/Ushers.jpg" />
  
<ul class="img-list">

  <div class="col-sm-6 col-xs-6 groomsmen">
    <li>
      <a href="http://kyleandmorgan2015.com/home/party">
      <img src="/images/Eric.jpg" class="photo img-responsive" alt="Photo of Eric" />
        <span class="text-content"><span><h2 class="fn">Eric</h2><p class="fn">Eric and Kyle played soccer and football together in college. Kyle would consistently beat Eric in FIFA, and they continue to exchange an inordinate amount of text messages related to the United States Men's National Soccer Team. Eric is a graduate student at the University of Arizona, is in the National Guard, and lives with his fiancée, Sarah.</p>
        </span></span>
      </a>
    </li>
  </div>

  <div class="col-sm-6 col-xs-6 bridesmaids">
    <li>
      <a href="http://kyleandmorgan2015.com/home/party">
        <img src="/images/DJ.jpg" class="photo img-responsive" alt="Photo of DJ" />
        <span class="text-content"><span><h2 class="fn">DJ</h2><p class="fn">While at Carleton, DJ and Morgan had a hugely popular radio show that often ran from 4am to 6am on Sunday mornings. They both now sleep during that time and DJ is putting his physics degree to good use at Epic in Madison, WI.</p>
        </span></span>
      </a>
    </li>
  </div>
</ul>
</div>
        
</div>
</div>
</div>
<script> party();</script>
