<div class="main">
  <img src="/images/save_the_date_title.jpg" />
  <br>
  <br>
<h3 style="margin-left:100px;margin-right:100px"><span>So rain, nor sleet, nor snow can stop the post office, but apparently sometimes a golf pencil can.<br>Since sending out what we thought were super clever save the dates <br> some have been returned and some have arrived with no pencil,<br> therefore we wanted to put a picture up so people who might not get one in person <br>(or ever) can get the full affect. Sorry!</span></h3>
<div class="image">
  <img id="index_background" src="/images/DSC_0740.jpg" />
</div>
</div>
