<div class="todotitle">
<img class="title img-responsive" src="/images/todo_title.png" />
  <h4>The actual getting married part shouldn't take too long so here are some things you might want to checkout while in the Land of Ten Thousand Lakes!</h4>
</div>
<div id="map">
</div>
<script>mapIt();</script>
