!!! 5
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    %h1 Thank you for RSVPing to Kyle and Morgan's Wedding on August 15th 2015 at 4:00pm
    %p We are so happy you can joing us. Please see our website for all the details about hotels. We will send you updates once final times for the shuttles have been arranged. 
